# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.env
.venv
venv/
env/

# Packaging
build/
dist/
*.egg-info/

# Tools & caches
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Editors / IDE
.vscode/
.idea/
*.swp
*.swo
